.create-request-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* .request-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} */

.form-group label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
}


/* .form-input,
.form-textarea {
    padding: 0.75rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    width: 100%;
}

.form-textarea {
    min-height: 120px;
    resize: vertical;
} */

.modal-actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.primary-button:disabled,
.secondary-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.confirmation-modal {
    padding: 2rem 2rem 2rem 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.request-form {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.form-group label {
    font-size: 0.7rem;
    font-weight: 500;
    color: #374151;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    font-size: 0.7rem;
}

.form-textarea {
    resize: vertical;
}

.modal-actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1.5rem;
    width: 100%;
}

.primary-button,
.secondary-button {
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.2s;
}

.primary-button {
    background: #173782;
    color: white;
    border: none;
}

.secondary-button {
    background: #f8f9fa;
    color: #173782;
    border: 1px solid #e5e7eb;
}

.primary-button:disabled,
.secondary-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.primary-button:hover {
    background: #7289c1;
    color: white;
    border: none;
}

.secondary-button:hover {
    background: #d1d1d1;
    color: #173782;
    border: 1px solid #e5e7eb;
}